@import "normalize.css";
@import "var.scss";

:root {
  font-size: 1.2em;

  background-color: $light-theme-root-background-color;
  font-family: $global-font-family;

  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-theme-root-background-color;
  }

  @media (max-width: 1024px) {
    font-size: 1em;
  }
}

.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.content {
  background-color: $light-theme-block-background-color;
  width: 100%;
  min-width: 300px;
  height: 95dvh;

  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;

  box-sizing: border-box;
  border-radius: 20px;
  padding: {
    top: 1%;
    left: 2%;
    right: 2%;
    bottom: 1%;
  }

  box-shadow: $global-shadow-box;

  margin: 2vw;

  h2 {
    font-size: 1.3rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-theme-block-background-color;
    color: $dark-theme-text-color;
  }
}
