@import "normalize.css";

:root {
  background-color: #f0f0f0;
}

.root {
  display: flex;
  flex-direction: row;
}

.aside {
  background-color: white;
  width: 25%;
  margin: 2vw 0 2vw 0;

  @media (max-width: 800px) {
    display: none;
  }
}

.main {
  background-color: white;
  width: 100%;
  box-sizing: border-box;

  margin: 2vw;
}
