@import "normalize.css";

$light-theme-root-background-color: #f0f0f0;
$light-theme-block-background-color: white;

$dark-theme-root-background-color: rgb(36, 36, 36);
$dark-theme-block-background-color: rgb(50, 50, 50);
$dark-theme-text-color: white;

$global-font-family: "Montserrat", sans-serif;
$global-shadow-box: 2px 2px 2px rgb(0, 0, 0, 0.25);

:root {
  font-size: 1.2em;

  background-color: $light-theme-root-background-color;
  font-family: $global-font-family;

  overflow: hidden;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-theme-root-background-color;
  }

  @media (max-width: 1024px) {
    font-size: 1em;
  }

}

.root {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.aside {
  background-color: $light-theme-block-background-color;
  width: 30%;
  height: 95dvh;
  margin: 2vw 0 2vw 0;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
  padding: {
    top: 2vh;
    left: 1.5%;
    right: 1.5%;
  }

  box-shadow: $global-shadow-box;
  overflow: scroll;

  nav ul {
    padding: 0;
    list-style: none;

    li {
      margin: {
        top: 2vh;
        bottom: 2vh;
      }
      a {
        color: black;
        text-decoration: none;
      }
      :hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-theme-block-background-color;
    color: $dark-theme-text-color;
  }
}

.main {
  background-color: $light-theme-block-background-color;
  width: 100%;
  min-width: 300px;
  height: 95dvh;

  overflow: scroll;

  box-sizing: border-box;
  border-radius: 20px;
  padding: {
    top: 1%;
    left: 2%;
    right: 2%;
    bottom: 1%;
  }

  box-shadow: $global-shadow-box;

  margin: 2vw;

  h2 {
    font-size: 1.3rem;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $dark-theme-block-background-color;
    color: $dark-theme-text-color;
  }
}
