// global
$global-font-family: "Montserrat", sans-serif;
$global-shadow-box: 2px 2px 2px rgb(0, 0, 0, 0.25);

// light theme
$light-theme-root-background-color: #f0f0f0;
$light-theme-block-background-color: white;
$light-theme-text-color: black;
$light-theme-menu-bttn-hover-color: rgb(240, 240, 240);

// dark theme
$dark-theme-root-background-color: rgb(36, 36, 36);
$dark-theme-block-background-color: rgb(50, 50, 50);
$dark-theme-text-color: white;
$dark-theme-menu-bttn-hover-color: rgb(44, 44, 44);

// films
$light-theme-film-background: #f8f8f8;
$dark-theme-film-background: rgb(43, 43, 43);